<div class="container">
  <div class="heading">
    <div class="col-3">Sales Support</div>
    <div class="col-3">User Support</div>
    <div class="col-3">Something Else</div>
  </div>
  <div class="body">
    <form>
      <div class="row">
        <div class="col-3">
          <label>Name*</label>
        </div>
        <div class="col-3">
          <input type="text" placeholder="First Name">
        </div>
        <div class="col-3">
          <input type="text" placeholder="Last Name">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Title*</label>
        </div>
        <div class="col-2">
          <input type="text" placeholder="Role/Position">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Company*</label>
        </div>
        <div class="col-2">
          <input type="text" placeholder="Company Name">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Email*</label>
        </div>
        <div class="col-2">
          <input type="text" placeholder="example@gmail.com">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Phone*</label>
        </div>
        <div class="col-2">
          <input type="text" placeholder="(+91)-XXXX-XXXX-XX">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Message</label>
        </div>
        <div class="col-2">
          <textarea placeholder="Message"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button>Get in touch</button>
        </div>
      </div>

    </form>
  </div>
</div>
