<div class="container">
  <div class="heading">
    <div class="col-3">Sales Support</div>
    <div class="col-3">User Support</div>
    <div class="col-3">Something Else</div>
  </div>
  <div class="body">
    <form #f="ngForm" (ngSubmit)="submit(f)">
      <div class="row">
        <div class="col-3">
          <label>Name*</label>
        </div>
        <div class="col-3">
          <input type="text" ngModel name="firstName" #firstName="ngModel" placeholder="First Name" required>
        </div>
        <div class="col-3">
          <input type="text" ngModel name="lastName" #lastName="ngModel" placeholder="Last Name">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Title*</label>
        </div>
        <div class="col-2">
          <input type="text" ngModel name="title" #title="ngModel" placeholder="Role/Position">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Company*</label>
        </div>
        <div class="col-2">
          <input type="text" ngModel name="company" #company="ngModel" placeholder="Company Name">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Email*</label>
        </div>
        <div class="col-2">
          <input type="text" ngModel name="mail" #mail="ngModel" placeholder="example@gmail.com">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Phone*</label>
        </div>
        <div class="col-2">
          <input type="text" ngModel name="phone" #phone="ngModel" placeholder="(+91)-XXXX-XXXX-XX">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label>Message</label>
        </div>
        <div class="col-2">
          <textarea ngModel name="message" #message="ngModel" placeholder="Message"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button [disabled]="!f.valid">Get in touch</button>
        </div>
      </div>

    </form>
  </div>
</div>
